<p>Vlkův diář</p>
<table>
<p>čas
<p>aktivita
<p>místo

   <ul> dopoledne
 8:00 – 10:00</ul>
 <ul>obhlídka terénu
 hluboký les
 10:00 – 12:00</ul>
 <ul> odpoledne
 12:00 – 14:00
 rozhovor s Karkulkou
 hluboký les</ul>
 <ul> 14:00 – 16:00
 sežrat babičku
 babiččin domeček </ul>
 <ul>16:00 – 18:00
 sežrat Karkulku </ul>
 <ul>večer
 18:00 – 20:00
 spánek a trávení</ul>
 babiččin domeček
 20:00 – 22:00</p>
</table>
</p>